.projects-container {
  padding: 1.5rem;
  margin-top: 1rem;
  @media (min-width: 768px) {
    padding-top: 6.5rem;
    margin-top: 0;
  }
  @media (min-width: 1100px) {
    padding: 6.5rem 15% 1.5rem 15%;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #582275;
    margin-bottom: 2rem;
    @media (min-height: 1024px), (min-width: 1440px) {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
  }
  .project {
    width: 100%;
    margin: 0 0 3rem 0;
    padding: 0 0 1.5rem 0;
    background-color: #fff;
    border-radius: 7.5px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 0;
      margin-bottom: 4rem;
      &:nth-child(3),
      &:nth-child(5) {
        direction: rtl;
        .img {
          border-radius: 0 7.5px 7.5px 0;
        }
        .info {
          border-radius: 7.5px 0 0 7.5px;
          .name {
            text-align: end;
          }
          .description {
            text-align: end;
          }
        }
      }
      &:nth-child(5) {
        margin-bottom: 0;
      }
    }
    .img {
      width: 100%;
      height: 30rem;
      position: relative;
      z-index: 1;
      left: 50%;
      transform: translate(-50%);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 10px 10px 0 0;
      transition: background 0.3s ease;
      @media (min-width: 768px) {
        border-radius: 7.5px 0 0 7.5px;
        height: 100%;
        transform: none;
        left: unset;
      }
    }
    .invoices {
      background-image: url(../assets/invoicesapp-mobile.PNG);
      @media (min-width: 500px) {
        background-image: url(../assets/invoicesapp-tablet.PNG);
      }
      @media (min-width: 700px) {
        background-image: url(../assets/invoicesapp-desktop.PNG);
      }
    }
    .ecomerce {
      background-image: url(../assets/ecomerce-mobile.PNG);
      @media (min-width: 500px) {
        background-image: url(../assets/ecomerce-tablet.PNG);
      }
      @media (min-width: 700px) {
        background-image: url(../assets/ecomerce-desktop.PNG);
      }
    }
    .countries {
      background-image: url(../assets/countries-mobile.PNG);
      @media (min-width: 500px) {
        background-image: url(../assets/countries-desktop.PNG);
      }
    }
    .game {
      background-image: url(../assets/game-mobile.PNG);
      @media (min-width: 500px) {
        background-image: url(../assets/game-desktop.PNG);
      }
    }
    .info {
      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        border-radius: 0 7.5px 7.5px 0;
      }
      .name {
        font-size: 1.5rem;
        margin: 1.5rem;
        text-align: center;
        position: relative;
        color: #582275;
        @media (min-width: 768px) {
          margin-bottom: 0;
          text-align: start;
          margin-left: 10%;
        }
        @media (min-height: 1024px), (min-width: 1440px) {
          font-size: 2rem;
        }
      }
      .description {
        margin: 1.5rem 7.5% 0.5rem 7.5%;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        color: gray;
        @media (min-width: 768px) {
          text-align: start;
          margin: 1.5rem 10% 0.5rem 10%;
        }
        @media (min-height: 1024px), (min-width: 1440px) {
          font-size: 1.4rem;
        }
      }
      .buttons {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
          margin-top: auto;
        }
        .btn {
          width: 90%;
          height: 3rem;
          font-size: 1rem;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          border: none;
          margin-top: 1rem;
          background-color: #582275;
          transition: background 0.5s ease;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #a539df;
          }
        }
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}
